---
title: ""
default_og_text: True
---

<div class="py-5" style="background: url(img/theme/hexagon1.png) right top no-repeat, radial-gradient(75% 100% at 75% -10%, #371947, #121b2700); background-size: 30%, 100%">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-start">
            <div class="col-11 col-lg-8 py-5">
                <div class="h1">AWS Community Day NL</div>
                <div class="h4">SEP. 24, 2025 | UTRECHT AREA | 08:30 - 18:00</div>
                <div class="lead mb-3">Details to be announced soon</div>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #17202c;">
    <div class="container py-5">
        <div class="row justify-content-center row-gap-3">
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">25</div>
                <div class="description">Breakout<br/>Sessions</div>
            </div>
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">500</div>
                <div class="description">Attendees</div>
            </div>
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">30</div>
                <div class="description">Speakers</div>
            </div>
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">5</div>
                <div class="description">Tracks</div>
            </div>
        </div>
    </div>
</div>

<div class="py-5 acd-bg-orange-gradient">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9 text-center" style="text-shadow: 1px 1px 2px #000;">
                <div class="h2">AWS Community Day events are community-led conferences where event logistics and content is planned, sourced, and delivered by community leaders. In many ways they are events put on "by the community, for the community."</div>
            </div>
        </div>
    </div>
</div>

<div id="pictures" class="py-5" style="background: linear-gradient(90deg, #121b27 0%, #212e3f 100%)">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 text-center ">
                <h2 class="h2-heading">Pictures</h2>
                <p>A few pictures to highlight previous events.</p>
                <a href="https://photos.app.goo.gl/jXULa1woBxXEMuzM9" target="_blank" class="btn btn-acd mb-5">Album 2024</a>
                <a href="https://photos.app.goo.gl/GHYZmwYkQryxa24Q9" target="_blank" class="btn btn-acd mb-5">Album 2023</a>
                <a href="https://photos.app.goo.gl/d4VJYt2idYxLeAGs6" target="_blank" class="btn btn-acd mb-5">Album 2022</a>
            </div> 
        </div> 
    </div> 
</div> 

{{< partial "footer" >}}