<div style="background-color: #404FCD; color: white;">
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                This event took place in 2023. <a href="/" class="text-white">Click here</a> to visit the most recent event.
            </div>
        </div>
    </div>
</div>
