---
title: ""
default_og_text: True
---

<div class="py-5" style="background: url(img/theme/hexagon1.png) right top no-repeat, radial-gradient(75% 100% at 75% -10%, #371947, #121b2700); background-size: 30%, 100%">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-start">
            <div class="col-11 col-lg-8 py-5">
                <div class="h1">AWS Community Day NL</div>
                <div class="h4">OCT. 3, 2024 | KINEPOLIS, LEIDSCHENDAM | 08:30 - 18:00</div>
                <div class="lead mb-3">On October 3rd, 2024, we organized a full-day conference at Kinepolis Leidschendam, featuring workshops, keynotes, and breakout sessions on business and technology. </div>
                <div class="buttons my-3">
                    <a href="https://photos.app.goo.gl/jXULa1woBxXEMuzM9" class="btn-acd btn-acd-lg" target="_blank">Photo Album</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #17202c;">
    <div class="container py-5">
        <div class="row justify-content-center row-gap-3">
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">30</div>
                <div class="description">Breakout<br/>Sessions</div>
            </div>
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">320</div>
                <div class="description">Attendees</div>
            </div>
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">~40</div>
                <div class="description">Speakers</div>
            </div>
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">6</div>
                <div class="description">Tracks</div>
            </div>
        </div>
    </div>
</div>

<div class="py-5" style="background-color: #2a3a4e;">
    <div class="container">
        {{< sponsors level="gold" >}}
    </div>
</div>

<div class="py-5 acd-bg-orange-gradient">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9 text-center" style="text-shadow: 1px 1px 2px #000;">
                <div class="h2">AWS Community Day events are community-led conferences where event logistics and content is planned, sourced, and delivered by community leaders. In many ways they are events put on "by the community, for the community."</div>
            </div>
        </div>
    </div>
</div>

<div class="py-5" style="background-color: #264162;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center pb-3">
                <div class="h3">Opening Keynote Speakers</div>
                <div class="mb-3">Check out how will <a href="/2024/sessions/kick-off">kick-off the event</a>.</div>
            </div>
            {{< featured-speakers "keynote" >}}
        </div>
    </div>
</div>

<div class="py-5 acd-bg-gradient-3">
    <div class="container">
        <div class="row row-gap-3 justify-content-center align-items-stretch">
            <div class="col-10 col-xl-3 col-md-5">
                <div class="block shadow acd-block-2">
                    <div class="title">Event Kick-Off</div>
                    <p>The event will be kicked-off by <a href="/2024/speakers/martijn-van-dongen" class="link-dark">Martijn</a> and <a href="/2024/speakers/milou-verheij" class="link-dark">Milou</a>. They will share some updates from the Dutch AWS Community and invite three guests on stage: <a href="/2024/speakers/tim-nolet" class="link-dark">Tim</a>, <a href="/2024/speakers/kieren-wade" class="link-dark">Kieren</a>, and <a href="/2024/speakers/danielle-gorlick" class="link-dark">Danielle</a>.</p>
                    <a href="/2024/sessions/kick-off" class="button">Read more</a>
                </div>
            </div>
            <div class="col-10 col-xl-3 col-md-5">
                <div class="block shadow acd-block-2">
                    <div class="title">Breakout Sessions</div>
                    <p>The venue Kinepolis offers 4 breakout rooms ranging in size from 80 to 300+ seats. We also offer a Silent Disco for the sessions with a focussed talk and smaller audience.</p>
                    <a href="/2024/rooms/" class="button">Read more</a>
                </div>
            </div>
            <div class="col-10 col-xl-3 col-md-5">
                <div class="block shadow acd-block-2">
                    <div class="title">Activities TBA</div>
                    <p>We're still working on a few activities/talks to complete the agenda. For example an interesting closing keynote or panel discussion next to the drinks & networking.</p>
                    <a href="/2024/agenda/" class="button">Read more</a>
                </div>
            </div>
            <div class="col-10 col-xl-3 col-md-5">
                <div class="block shadow acd-block-2">
                    <div class="title">Expo</div>
                    <p>Please visit the expo to say hi to our sponsors. Without sponsors, this event wouldn't be possible. They have insights to share, swag to give away, and maybe you'll become colleagues some time...</p>
                    <a href="/2024/sponsors/" class="button">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-5" style="background-color: #264162;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center pb-3">
                <div class="h3">Closing Keynote Speakers</div>
                <div class="mb-3">Read more about the topics covered in this <a href="/2024/sessions/panel">closing panel</a>.</div>
            </div>
            {{< featured-speakers "closing" >}}
        </div>
    </div>
</div>

<div id="pictures" class="py-5" style="background: linear-gradient(90deg, #121b27 0%, #212e3f 100%)">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 text-center ">
                <h2 class="h2-heading">Pictures</h2>
                <p>A few pictures to highlight previous events.</p>
                <a href="https://photos.app.goo.gl/GHYZmwYkQryxa24Q9" target="_blank" class="btn btn-acd mb-5">Album 2023</a>
                <a href="https://photos.app.goo.gl/d4VJYt2idYxLeAGs6" target="_blank" class="btn btn-acd mb-5">Album 2022</a>
            </div> 
        </div> 
        <div class="row justify-content-center align-items-center">
            <div class="col-6 col-md-3 p-4">
                <img src="img/1.jpg" class="img-fluid"/>
            </div>
            <div class="col-6 col-md-3 p-4">
                <img src="img/2.jpg" class="img-fluid"/>
            </div>
            <div class="col-6 col-md-3 p-4">
                <img src="img/3.jpg" class="img-fluid"/>
            </div>
            <div class="col-6 col-md-3 p-4">
                <img src="img/4.jpg" class="img-fluid"/>
            </div>
            <div class="col-6 col-md-3 p-4">
                <img src="img/5.jpg" class="img-fluid"/>
            </div>
            <div class="col-6 col-md-3 p-4">
                <img src="img/6.jpg" class="img-fluid"/>
            </div>
            <div class="col-6 col-md-3 p-4">
                <img src="img/7.jpg" class="img-fluid"/>
            </div>
            <div class="col-6 col-md-3 p-4">
                <img src="img/8.jpg" class="img-fluid"/>
            </div>
        </div>
    </div> 
</div> 

<div class="py-5 acd-bg-gradient-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center" style="text-shadow: 1px 1px 2px #000;">
                <div class="h2">This is our 6th AWS Community Day in The Netherlands, and we organized 100+ meetups. If you would like to organize meetups, speak at future events, or help out as User Group Leader/Crew, please reach out to us.</div>
            </div>
        </div>
    </div>
</div>

{{< partial "footer" >}}