---
title: ""
default_og_text: True
---

<div class="py-5" style="background: url(img/theme/hexagon1.png) right top no-repeat, radial-gradient(75% 100% at 75% -10%, #371947, #121b2700); background-size: 30%, 100%">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-start">
            <div class="col-11 col-lg-8 py-5">
                <div class="h1">AWS Community Day NL</div>
                <div class="h4">OCT. 2, 2022 | RIJTUIGENLOODS, AMERSFOORT | 08:30 - 18:00</div>
                <div class="lead">Join us on October 3, 2022 for a full day conference in Rijtuigenloods (Amersfoort) with a variety of workshops, keynotes, sessions for business & tech. </div>
                <div class="buttons my-3">
                    <a href="https://photos.app.goo.gl/d4VJYt2idYxLeAGs6" target="_blank" class="btn-acd btn-acd-lg">Photo Album</a>
                    <a href="https://youtu.be/zmrrdpyxFL8" target="_blank" class="btn-acd btn-acd-lg">YouTube Recordings</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #17202c;">
    <div class="container py-5">
        <div class="row justify-content-center row-gap-3">
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">12+</div>
                <div class="description">Tracks</div>
            </div>
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">80+</div>
                <div class="description">Breakout<br/>Sessions</div>
            </div>
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">475</div>
                <div class="description">Attendees</div>
            </div>
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">3</div>
                <div class="description">Keynote<br/>Speakers</div>
            </div>
        </div>
    </div>
</div>

<div style="background: white" class="py-5 text-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-12 text-center">
          <h2 class="h2-heading text-black">Sponsors 2022</h2>
        </div>
      </div> 
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-12 text-center">
          Platinum:
        </div>
      </div> 
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-4 text-center p-4">
        <a href="https://schubergphilis.com" target="_blank"><img src="img/schubergphilis.png" class="img-fluid" /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-12 text-center">
          Diamond:
        </div>
      </div> 
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-8 col-md-3 text-center p-4">
        <a href="https://newrelic.com" target="_blank"><img src="img/newrelic.png" class="img-fluid" /></a>
      </div>
      <div class="col-8 col-md-3 text-center p-4">
        <a href="https://xebia.com" target="_blank"><img src="img/xebia.png" class="img-fluid" /></a>
      </div>
      <div class="col-8 col-md-3 text-center p-4">
        <a href="https://www.trendmicro.com/" target="_blank"><img src="img/trendmicro.png" class="img-fluid" /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-12 text-center">
          Gold:
        </div>
      </div> 
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://sogeti.com" target="_blank"><img src="img/sogeti.png" class="img-fluid" /></a>
      </div>
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://luminis.eu" target="_blank"><img src="img/luminis.png" class="img-fluid" /></a>
      </div>
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://couchbase.com" target="_blank"><img src="img/couchbase.png" class="img-fluid" /></a>
      </div>
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://lucid.co" target="_blank"><img src="img/lucid.png" class="img-fluid" /></a>
      </div>
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://contrastsecurity.com" target="_blank"><img src="img/contrast-security.png" class="img-fluid" /></a>
      </div>
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://www.inqdo.com" target="_blank"><img src="img/inqdo.jpg" class="img-fluid" /></a>
      </div>
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://www.lumigo.io" target="_blank"><img src="img/lumigo.png" class="img-fluid" /></a>
      </div>
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://cloudnation.nl" target="_blank"><img src="img/cloudnation.png" class="img-fluid" /></a>
      </div>
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://www.equinix.nl/" target="_blank"><img src="img/equinix.png" class="img-fluid" /></a>
      </div>
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://www.tenable.com/" target="_blank"><img src="img/tenable.png" class="img-fluid" /></a>
      </div>
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://www.intel.com/" target="_blank"><img src="img/intel.png" class="img-fluid" /></a>
      </div>
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://www.flane.nl/en/" target="_blank"><img src="img/fastlane.png" class="img-fluid" /></a>
      </div>
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://www.dynatrace.com/" target="_blank"><img src="img/dynatrace.png" class="img-fluid" /></a>
      </div>
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://www.DoiT.com" target="_blank"><img src="img/doit.png" class="img-fluid" /></a>
      </div>
      <div class="col-6 col-md-2 text-center p-3 gold-sponsor-container">
        <a href="https://www.elastique.nl" target="_blank"><img src="img/elastique.png" class="img-fluid" /></a>
      </div>
    </div>
  </div> 
</div> 