---
title: ""
default_og_text: True
---

<div class="py-5" style="background: url(img/theme/hexagon1.png) right top no-repeat, radial-gradient(75% 100% at 75% -10%, #371947, #121b2700); background-size: 30%, 100%">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-start">
            <div class="col-11 col-lg-8 py-5">
                <div class="h1">AWS Community Day NL</div>
                <div class="h4">SEP. 20, 2023 | TIVOLIVREDENBURG, UTRECHT | 08:30 - 18:00</div>
                <div class="lead">Join us on September 20, 2023 for a full day conference in TivoliVredenburg (Utrecht) with a variety of workshops, keynotes, sessions for business & tech. </div>
                <div class="buttons my-3">
                    <a href="https://photos.app.goo.gl/GHYZmwYkQryxa24Q9" class="btn-acd btn-acd-lg">Photo Album</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-5" style="background-color: #2a3a4e;">
    <div class="container">
        <div class="row align-items-center justify-content-center row-cols-2 row-cols-lg-5">
            <div class="col p-3">
                <img src="img/mendix-light.png" class="mx-auto d-block" style="width: 75%" />
            </div>
            <div class="col p-3">
                <img src="img/sentinel-one-light.png" class="mx-auto d-block" style="width: 90%" />
            </div>
            <div class="col p-3">
                <img src="img/xebia-light.png" class="mx-auto d-block" style="width: 60%" />
            </div>
        </div>
    </div>
</div>

<div style="background-color: #17202c;">
    <div class="container py-5">
        <div class="row justify-content-center row-gap-3">
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">5</div>
                <div class="description">Tracks</div>
            </div>
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">28</div>
                <div class="description">Breakout<br/>Sessions</div>
            </div>
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">399</div>
                <div class="description">Attendees</div>
            </div>
            <div class="col-6 col-lg-3 text-center stats">
                <div class="number">5</div>
                <div class="description">Keynote<br/>Speakers</div>
            </div>
        </div>
    </div>
</div>

<div style="background: #fff;">
    <div class="container py-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 text-center ">
          <h2 class="h2-heading text-dark">All Sponsors</h2>
        </div> 
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-4 col-lg-3 my-3">
          <img class="img-fluid" src="img/sentinel-one.png"/>
        </div>
        <div class="col-4 col-lg-3 my-3">
          <img class="img-fluid px-3" src="img/mendix.png" />
        </div>
        <div class="col-4 col-lg-3 my-3 text-align-center">
          <img class="img-fluid px-4" src="img/xebia.png"/>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-3 col-lg-2 my-3 text-align-center">
          <img class="img-fluid" src="img/cloudnation.png"/>
        </div>
        <div class="col-3 col-lg-2 my-3">
          <img class="img-fluid" src="img/fast-lane.png" />
        </div>
        <div class="col-3 col-lg-2 my-3 text-align-center">
          <img class="img-fluid" src="img/inqdo.png"/>
        </div>
        <div class="col-3 col-lg-2 my-3 text-align-center">
          <img class="img-fluid" src="img/schuberg-philis.png"/>
        </div>
        <div class="col-3 col-lg-2 my-3 text-align-center">
          <img class="img-fluid" src="img/luminis.png"/>
        </div>
        <div class="col-3 col-lg-2 my-3 text-align-center">
          <img class="img-fluid" src="img/rapid-7.png"/>
        </div>
        <div class="col-3 col-lg-2 my-3 text-align-center">
          <img class="img-fluid" src="img/redhat.png"/>
        </div>
        <div class="col-3 col-lg-2 my-3 text-align-center">
          <img class="img-fluid" src="img/technative.png"/>
        </div>
        <div class="col-3 col-lg-2 text-align-center">
          <img class="img-fluid px-4" src="img/postnl.png"/>
        </div>
        <div class="col-3 col-lg-2 text-align-center">
          <img class="img-fluid" src="img/elastique.png"/>
        </div>
        <div class="col-3 col-lg-2 text-align-center">
          <img class="img-fluid" src="img/software-one.svg"/>
        </div>
        <div class="col-3 col-lg-2 text-align-center">
          <img class="img-fluid" src="img/sogeti.png"/>
        </div>
        <div class="col-3 col-lg-2 text-align-center">
          <img class="img-fluid" src="img/sysdig.png"/>
        </div>
        <div class="col-3 col-lg-2 text-align-center">
          <img class="img-fluid" src="img/cyberark.png"/>
        </div>
        <div class="col-3 col-lg-2 text-align-center">
          <img class="img-fluid" src="img/databricks.png"/>
        </div>
      </div>
    </div>
  </div>
  